## Random Forest

In [1]:
import numpy as np
import sklearn as sk
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
train = pd.read_csv('trainData.csv')

In [3]:
train.head()

   Attribute_1    Attribute_2   Class_Label
0         0.639         0.099             0
1         0.025         0.686             0
2         0.275         0.544             0
3         0.223         0.978             1
4         0.736         0.359             1

In [4]:
train.shape

(750, 3)

In [5]:
test = pd.read_csv('testData.csv', header=None)

In [6]:
test.head()

       0      1  2
0  0.323  0.325  0
1  0.970  0.662  1
2  0.404  0.525  1
3  0.515  0.314  1
4  0.988  0.173  1

In [7]:
test.shape

(250, 3)

In [8]:
trainX = train.iloc[:,:2]
trainY = train.iloc[:,2]
testX = test.iloc[:,:2]
testY = test.iloc[:,2]

In [9]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=222)

In [10]:
clf.fit(trainX, trainY)

RandomForestClassifier(max_depth=2, random_state=222)

In [11]:
pred=clf.predict(testX)

In [12]:
sum(testY != pred)

19

In [23]:
np.sum(testY==pred)/len(pred)

0.924

In [13]:
clf.feature_importances_   ## gives a measure of importance of the attribute in the model (see documentation to see details)

array([0.47943337, 0.52056663])

In [14]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': 2,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 222,
 'verbose': 0,
 'warm_start': False}

In [15]:
clf.score(testX, testY)

0.924

In [17]:
trainX.columns

Index(['Attribute_1 ', ' Attribute_2'], dtype='object')